/* xs */
@media screen and (max-width: 576px) {
  .blockly-workspace {
    height: 650px;
    width: 300px;
  }
}

/* sm */
@media screen and (min-width: 578px) and (max-width: 768px) {
  .blockly-workspace {
    height: 650px;
    width: 520px;
  }
}

/* sm-md */
@media screen and (min-width: 769px) and (max-width: 890px) {
  .blockly-workspace {
    height: 650px;
    width: 700px;
  }
}

/* md */
@media screen and (min-width: 891px) and (max-width: 992px) {
  .blockly-workspace {
    height: 650px;
    width: 820px;
  }
}

/* md-lg */
@media screen and (min-width: 993px) and (max-width: 1100px) {
  .blockly-workspace {
    height: 650px;
    width: 920px;
  }
}


/* lg */
@media screen and (min-width: 1101px) and (max-width: 1200px) {
  .blockly-workspace {
    height: 650px;
    width: 1050px;
  }
}



/* xl */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .blockly-workspace {
    height: 650px;
    width: 750px;
  }
}

/* xxl */
@media screen and (min-width: 1401px) {
  .blockly-workspace {
    height: 650px;
    width: 890px;
  }
}



.blockly-card {
  height: 770px;
  width: 1000px;
}

.show-code {
  height: 550px;
  width: 400px;
}

.success {
  height: 670px;
  width: 950px;
}

.info-card {
  height: 770px;
  width: 400px;
}

.game-area {
    height: 720px;
    width: 1450px;
}

* {
  margin: 0;
  padding: 0
}

body {
  height: 100vh;
  background-color: #590C69;
  position: relative
}

.wrapper { 
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000
}

.wrapper  {
  background-color: white 
}

.wrapper a:nth-child(2) {
  background-color: blue
}

.wrapper a:nth-child(3) {
  background-color: purple
}

.wrapper a:nth-child(4) {
  animation: 0.7s ease-out 0s 1 FadeIn;
  transition: all 0.3s
}

.wrapper a:hover:nth-child(4) {
  background-color: red
}

@keyframes FadeIn {
  0% {
      transform: rotate(0deg)
  }

  100% {
      transform: rotate(360deg)
  }
}

.hide {
  position: absolute;
  bottom: 0px !important;
  z-index: -1;
  transition: all 2s
}

.close-button-rotate {
  transform:rotate(45deg);
  
}

.wrapper {
  height: 30px;
  width: 30px;
  background: #000;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 2px
}

.spinner{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content:center;
  margin: 0 auto;
}