:root {
  --blue : #4285F4;
  --lightblue : #aac6f3;
  --red : #EA4335;
  --yellow : #FBBC05;
  --green : #34A853;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.btn-custom {
  background: red;
  color: yellow;
  border-radius: 3px;
  padding: 5px 10px;
}

/* xs */
@media screen and (max-width: 576px) {
  .blockly-workspace {
    height: 650px;
    width: 300px;
  }

  .wrapper { 
    left: 90%;
    top: 300px;
  }
}

/* sm */
@media screen and (min-width: 578px) and (max-width: 768px) {
  .blockly-workspace {
    height: 650px;
    width: 520px;
  }

  .wrapper { 
    left: 90%;
    top: 300px;
  }
}

/* sm-md */
@media screen and (min-width: 769px) and (max-width: 890px) {
  .blockly-workspace {
    height: 650px;
    width: 700px;
  }

  .wrapper { 
    left: 90%;
    top: 300px;
  }
}

/* md */
@media screen and (min-width: 891px) and (max-width: 992px) {
  .blockly-workspace {
    height: 650px;
    width: 820px;
  }

  .wrapper { 
    left: 90%;
    top: 250px;
  }
}

/* md-lg */
@media screen and (min-width: 993px) and (max-width: 1100px) {
  .blockly-workspace {
    height: 650px;
    width: 920px;
  }

  .wrapper { 
    left: 90%;
    top: 250px;
  }
}


/* lg */
@media screen and (min-width: 1101px) and (max-width: 1199px) {
  .blockly-workspace {
    height: 650px;
    width: 1050px;
  }

  .wrapper { 
    left: 90%;
    top: 250px;

  }
}



/* xl */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .blockly-workspace {
    height: 650px;
    width: 750px;
  }

  .wrapper { 
    left: 60%;
    top: 120px;

  }
}

/* xxl */
@media screen and (min-width: 1401px) and (max-width: 1500px) {
  .blockly-workspace {
    height: 750px;
    width: 890px;
  }

  .wrapper { 
    left: 60%;
    top: 120px;

  }
}

 /* xxxl */
 @media screen and (min-width: 1501px) and (max-width: 1600px) {
  .blockly-workspace {
    height: 750px;
    width: 950px;
  }

  .wrapper { 
    left: 60%;
    top: 120px;
  }
 }

  /* xxxxl */
@media screen and (min-width: 1601px) {
  .blockly-workspace {
    height: 750px;
    width: 1000px;
  }

  .wrapper { 
    left: 60%;
    top: 120px;

  }
}

.forwardbtn {
 height: 30px !important;
 width: 30px !important ;
 color:#FBBC05 !important;
 border-radius: 50% !important;
 border-width: 0.2rem !important;
 border-color: hsl(45, 97%, 50%) !important;
 font-size: x-small !important;
 vertical-align: middle !important;
 background-color:  #EA4335 !important;
 text-align: center !important;
}

.forwardbtn-grey {
  height: 30px !important;
  width: 30px !important ;
  color:lightgray !important;
  border-radius: 50% !important;
  border-width: 0.2rem !important;
  border-color: lightgray !important;
  font-size: x-small !important;

  vertical-align: middle !important;
  background-color:  grey !important;
  text-align: center !important;
 }

.forwardbtn:disabled,
.forwardbtn[disabled]{
  height: 50px !important;
  width: 50px !important ;
  color:#FBBC05 !important;
  border-radius: 50% !important;
  font-size: large !important;
  border-width: 0.4rem !important;
  border-color: #FBBC05 !important;
  vertical-align: middle !important;
  background-color:  #EA4335 !important;
  text-align: center !important;
  opacity: 1.0 !important;
}

.closebtn{
 height: 300px;
 width: 30px;
 display: inline-block;
 border-radius: 50%;
 font-size: large;
 font-weight: 500;
 margin-left: 7px;
 vertical-align: middle;
 background-color:  #34A853 !important;
 text-align: center;
 -webkit-appearance: none;
 }

.wizard-nav {
  background: #EA4335;
  height:7%;
  width: 20%;
  z-index: 1000;
  position: fixed;
  bottom: -10px;
  left: 40%;
  border-radius: 10%;

}

.step-container {
  background-color: #FBBC05;
  padding: 20px;
  border-radius: 1%;
  border-color: #4285F4;
  border-width: 5px;
}

.wrapper { 
  position: fixed;
  z-index: 1000
}

.blockly-card {
  height: 770px;
  width: 1000px;
}

.show-code {
  height: 550px;
  width: 400px;
}

.success {
  height: 670px;
  width: 950px;
}

.info-card {
  height: 770px;
  width: 400px;
}

.game-area {
    height: 720px;
    width: 1450px;
}




.wrapper  {
  background-color: var(--yellow);
  opacity: 0.9;
}

.exercises {
  padding-left: 100px;
  padding-right: 100px;

}

@keyframes FadeIn {
  0% {
      transform: rotate(0deg)
  }

  100% {
      transform: rotate(360deg)
  }
}

.nav-link {
  text-decoration: none; color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:active { text-decoration: none;   }

body, html {
  height: 100%;
}
.bg {
  background-image: url('image_2.png');
  opacity: 0.9;
  height: 150vh;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}



.wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.spinner{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content:center;
  margin: 0 auto;
}